.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

* {
  font-weight: 700;
  font-family: Montserrat;
  user-select: none;
}
  .main {
    background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: left bottom, top right;
    height: 88vh;
    background-color: hsl(240, 78%, 98%);
    box-shadow: 2px 10px 50px gray;
    text-align: center;
    padding: 50px;
  }

  .pricing_heading {
    color: hsl(233, 13%, 49%);
  }

.switch-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: hsl(234, 14%, 74%);
}

   /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(125deg, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
  }
  
  input:checked + .slider {
    background: linear-gradient(125deg, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
  }
  
  input:hover + .slider {
    background: hsl(234, 14%, 74%);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

.pricing {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(233, 13%, 49%);
}

.doller {
  font-size: 35px;
  color: hsl(232, 13%, 33%);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.doller span {
  font-size: 64px;
}

  @media screen and (max-width: 750px) {
    .pricing {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }

    .main {
      height: 100%;
      background-image: url(./images/bg-top.svg);
      background-repeat: no-repeat;
      background-position: top right -195px;
    }
  }

  .price {
    width: 250px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
  }

  .price2 {
     color: #fff;
     padding-top: 25px;
     padding-bottom: 25px;
     background: linear-gradient(125deg, hsl(236, 72%, 79%) , hsl(237, 63%, 64%))
  }

  .price2 .doller {
    color: #fff;
  }

  .features {
    border: none;
    border-bottom: 1px solid hsl(234, 14%, 74%);
    display: flex;
    flex-direction: column;
  }

  .features label {
    padding: 20px;
    border: none;
    border-top: 1px solid hsl(234, 14%, 74%);

  }

  .learn_more {
    height: 40px;
    background: linear-gradient(125deg, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .learn_more:hover {
    background: transparent;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
  }

  .learn_more2:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
  }

  .learn_more2 {
    background: #fff;
    color: hsl(237, 63%, 64%);
  }